{% include 'partials/header.html' with page_title='顧客一覧' %}

<h1>顧客一覧</h1>

<section id="user-filter">
  <form method="get" action="{% url 'customer_list' %}">
    <input type="text" name="name" placeholder="顧客名" value="{{ request.GET.name }}">
    <input type="text" name="phone" placeholder="TEL" value="{{ request.GET.phone }}">
    <button type="submit">検索</button>
  </form>
</section>

<section id="customer_lists">
  <div class="customer_lists_row">
    <div>ID</div>
    <div>顧客名</div>
    <div>TEL</div>
    <div>住所</div>
  </div>
  {% for customer in customers %}
  <a class="customer_lists_row" href="/customer/{{ customer.id }}">
    <div>{{ customer.id }}</div>
    <div>{{ customer.company_name }}</div>
    <div>{{ customer.phone_number }}</div>
    <div>
      {{ customer.address1 }}<br />
      {{ customer.address2 }}
    </div>
  </a>
  {% empty %}
  <div>登録されている顧客はいません。</div>
  {% endfor %}
</section>

{% include 'partials/footer.html' %}