<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <title>{{ customer.name }}</title>
</head>

<body>
  <h1>{{ customer.name }}</h1>
  <dl>
    <dt>ID</dt>
    <dd>{{ customer.id }}</dd>
    <dt>会社名</dt>
    <dd>{{ customer.company_name }}</dd>
    <dt>お名前</dt>
    <dd>{{ customer.contact_person }}</dd>
    <dt>郵便番号</dt>
    <dd>{{ customer.postal_code }}</dd>
    <dt>住所</dt>
    <dd>
      {{ customer.address1 }} <br />
      {{ customer.address2 }}
    </dd>
    <dt>TEL</dt>
    <dd>{{ customer.phone_number }}</dd>
    <dt>備考</dt>
    <dd>{{ customer.note }}</dd>
    <dt>請求用会社名</dt>
    <dd>{{ customer.billing_name }}</dd>
  </dl>

  <div>
    <a href="/customers">一覧へ戻る</a>
  </div>
</body>
</html>