body {
  background-color: #f8f9fa;
  color: #333;
  font-family: "Roboto", sans-serif;
}

button {
  transition: 0.3s;
}

a {
  color: #333;
  &:hover {
    text-decoration: none;
  }
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
}
td,
th {
  padding: 5px 10px;
}

#customer_lists {
  border-top: 1px solid #aaa;
  max-width: 1440px;
  margin: auto;
}
.customer_lists_row {
  display: grid;
  grid-template-columns: 4em 1fr 8em 1fr;
  align-items: center;
  gap: 0 20px;
  padding: 10px;
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #aaa;
  &:hover {
    background-color: #ddd;
  }
}

#user-filter {
  padding: 20px;
  margin-bottom: 40px;
  .all_user_link {
    font-size: 13px;
    color: #666;
  }
  form {
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
  }
  input {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #aaa;
  }
  button[type="submit"] {
    background-color: #666;
    color: white;
    border: none;
    padding: 12px 16px;
    line-height: 1;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    letter-spacing: 0.1em;
    &:hover {
      background-color: #333;
    }
  }
}

.editButtons {
  margin: 15px 0;
  display: flex;
  gap: 10px;
  button {
    padding: 10px;
    // background-color: #1a4a72;
    background-color: #3383c8;
    border: 2px solid #3383c8;
    color: #fff;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
  }
  button.cancelButton {
    // background-color: #666;
    background-color: #fff;
    border: 2px solid #3383c8;
    color: #3383c8;
  }
  .deleteButton {
    background-color: #dd3030;
    border: 2px solid #dd3030;
  }
}
